@font-face {
    font-family: "Avenir LT W01_35 Light_1475502";
    src: url("/assets/fonts/63a166cb-be60-435c-a056-75172e43efa5.eot?#iefix");
    src: url("/assets/fonts/63a166cb-be60-435c-a056-75172e43efa5.eot?#iefix") format("eot"), url("/assets/fonts/a59168c1-917d-4de9-a244-0316c057c357.woff2") format("woff2"),
        url("/assets/fonts/6dc0e7d8-9284-44e1-8f05-984a41daa3a4.woff") format("woff"), url("/assets/fonts/2315df7a-8bc2-433d-bf0a-162fc0063de0.ttf") format("truetype");
}
@font-face {
    font-family: "Avenir LT W01_45 Book1475508";
    src: url("/assets/fonts/710789a0-1557-48a1-8cec-03d52d663d74.eot?#iefix");
    src: url("/assets/fonts/710789a0-1557-48a1-8cec-03d52d663d74.eot?#iefix") format("eot"), url("/assets/fonts/065a6b14-b2cc-446e-9428-271c570df0d9.woff2") format("woff2"),
        url("/assets/fonts/65d75eb0-2601-4da5-a9a4-9ee67a470a59.woff") format("woff"), url("/assets/fonts/c70e90bc-3c94-41dc-bf14-caa727c76301.ttf") format("truetype");
}
@font-face {
    font-family: "Avenir LT W01_55 Roman1475520";
    src: url("/assets/fonts/57bf7902-79ee-4b31-a327-1bbf59a3d155.eot?#iefix");
    src: url("/assets/fonts/57bf7902-79ee-4b31-a327-1bbf59a3d155.eot?#iefix") format("eot"), url("/assets/fonts/b290e775-e0f9-4980-914b-a4c32a5e3e36.woff2") format("woff2"),
        url("/assets/fonts/4b978f72-bb48-46c3-909a-2a8cd2f8819c.woff") format("woff"), url("/assets/fonts/9bdf0737-f98c-477a-9365-ffc41b9d1285.ttf") format("truetype");
}
@font-face {
    font-family: "Avenir LT W01_65 Medium1475532";
    src: url("/assets/fonts/e0542193-b2e6-4273-bc45-39d4dfd3c15b.eot?#iefix");
    src: url("/assets/fonts/e0542193-b2e6-4273-bc45-39d4dfd3c15b.eot?#iefix") format("eot"), url("/assets/fonts/17b90ef5-b63f-457b-a981-503bb7afe3c0.woff2") format("woff2"),
        url("/assets/fonts/c9aeeabd-dd65-491d-b4be-3e0db9ae47a0.woff") format("woff"), url("/assets/fonts/25f994de-d13f-4a5d-a82b-bf925a1e054d.ttf") format("truetype");
}
@font-face {
    font-family: "Avenir LT W01_85 Heavy1475544";
    src: url("/assets/fonts/6af9989e-235b-4c75-8c08-a83bdaef3f66.eot?#iefix");
    src: url("/assets/fonts/6af9989e-235b-4c75-8c08-a83bdaef3f66.eot?#iefix") format("eot"), url("/assets/fonts/d513e15e-8f35-4129-ad05-481815e52625.woff2") format("woff2"),
        url("/assets/fonts/61bd362e-7162-46bd-b67e-28f366c4afbe.woff") format("woff"), url("/assets/fonts/ccd17c6b-e7ed-4b73-b0d2-76712a4ef46b.ttf") format("truetype");
}
.-bg-main-gray {
    background-color: #f9f9f9;
}
.-p-top {
    padding-top: 40px;
}
.-p-bottom {
    padding-bottom: 100px;
}
a {
    color: #0154a1;
}
.link--full-click--wrapper {
    position: relative;
}
.link--full-click--wrapper a.link--full-click--target:before {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    content: "";
}
html {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
*,
*:after,
*:before {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}
body {
    font-family: "Avenir LT W01_55 Roman1475520", sans-serif;
    font-size: 16px;
    line-height: 150%;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Avenir LT W01_45 Book1475508", sans-serif;
    font-weight: normal;
    margin-top: 0;
}
h2 {
    line-height: 133%;
}
h1 {
    font-size: 2.5rem;
    line-height: 120%;
}
.page-title h1 {
    margin-top: 40px;
    margin-bottom: 40px;
}
img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}
figcaption {
    font-size: 14px;
    color: #363636;
}
table thead th {
    background: #f9f9f9;
    border: solid #666;
    border-width: 1px 0;
    text-transform: uppercase;
}
table th,
table td {
    padding: 10px 12px;
}
.l-container {
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 1em;
}
.l-container.page-title {
    padding-left: 1em;
    padding-right: 1em;
}
.l-content {
    padding-bottom: 60px;
}
.l-footer {
    padding: 40px 1em;
}
.l-cards {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: -0.5rem;
}
.l-cards .card {
    width: 100%;
    margin: 0.5rem;
}
@media screen and (min-width: 560px) and (max-width: 959px) {
    .l-cards .card {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }
}
@media screen and (min-width: 960px) {
    .l-cards .card {
        width: calc(33.333% - 1rem);
    }
}
.l-cards .card-small {
    margin: 0.5rem;
    width: 100%;
}
@media screen and (min-width: 960px) {
    .l-cards .card-small {
        width: calc(33.333% - 1rem);
    }
}
.l-gallery {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: -0.5rem;
}
.l-gallery .gallery-item {
    margin: 0.5rem;
    width: 100%;
}
@media screen and (min-width: 960px) {
    .l-gallery .gallery-item {
        width: calc(33.333% - 1rem);
    }
}
.btn {
    display: inline-block;
}
.btn--cta > a {
    display: inline-block;
    padding: 10px 15px;
    color: #fff;
    background-color: #fd9827;
    text-decoration: none;
    -webkit-transition: background-color 0.35s;
    transition: background-color 0.35s;
    font-family: "Avenir LT W01_85 Heavy1475544", sans-serif;
}
.btn--cta > a:hover,
.btn--cta > a:focus {
    background-color: #ef7f02;
}
@media (max-width: 360px) {
    .button {
        width: 100%;
    }
}
.button {
    font-family: "Avenir LT W01_85 Heavy1475544", sans-serif;
    border: none;
    padding: 10px 15px;
    color: #fff;
    background-color: #fd9827;
    text-decoration: none;
    -webkit-transition: background-color 0.35s;
    transition: background-color 0.35s;
}
.button:hover,
.button:focus {
    background-color: #ef7f02;
}
.card,
.card-small {
    display: inline-grid;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column;
    flex-flow: column;
    background-color: #0154a1;
    color: #fff;
}
.-bg-item-white .card,
.-bg-item-white .card-small {
    background-color: #fff;
    color: #000;
}
.-bg-item-white .card a,
.-bg-item-white .card-small a {
    color: #0154a1;
}
.card a,
.card-small a {
    color: #fff;
    text-decoration: underline;
}
.card h2 a,
.card-small h2 a {
    text-decoration: none;
}
.card h2 a:hover,
.card-small h2 a:hover {
    text-decoration: underline;
}
.card h3,
.card-small h3 {
    text-transform: uppercase;
    font-weight: 900;
}
.card h3 a,
.card-small h3 a {
    text-decoration: none;
}
.card h3 a:hover,
.card-small h3 a:hover {
    text-decoration: underline;
}
.card__img {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
    width: 100%;
    overflow: hidden;
    text-align: center;
}
.link--full-click--wrapper:hover .card__img img {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    -webkit-transition: all 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    transition: all 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
.card__img img {
    width: 100%;
}
.card__content {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
    padding: 25px;
}
.card__content .field--name-field-date,
.card__content .field--name-field-global-date {
    font-size: 24px;
    line-height: 1em;
    margin-bottom: 20px;
}
@media screen and (min-width: 560px) and (max-width: 767px) {
    .card__img {
        -webkit-box-flex: 1;
        -ms-flex: 1;
        flex: 1;
    }
    .card__content {
        -webkit-box-flex: 1;
        -ms-flex: 1;
        flex: 1;
    }
}
@media screen and (min-width: 768px) and (max-width: 959px) {
    .card__img {
        -webkit-box-flex: 2;
        -ms-flex: 2;
        flex: 2;
    }
    .card__content {
        -webkit-box-flex: 3;
        -ms-flex: 3;
        flex: 3;
    }
}
.cta {
    background-color: #0154a1;
    color: #fff;
    position: relative;
}
.cta .btn--cta {
    float: right;
    display: inline-block;
    margin: 10px 0;
}
@media screen and (min-width: 960px) {
    .cta .btn--cta {
        margin: 0;
    }
}
.cta__text {
    padding: 10px 15px 10px 5px;
}
@media screen and (min-width: 960px) {
    .cta__text {
        display: inline-block;
        float: left;
    }
}
.cta__home-link {
    display: block;
    position: absolute;
    top: 20px;
    background: url(/assets/logo.png) 0 0;
    width: 64px;
    height: 66px;
}
@media screen and (min-width: 960px) {
    .cta__home-link {
        top: 50px;
        background: url(/assets/logo-large.png) 0 0;
        background-size: cover;
        height: 90px;
        width: 75px;
    }
}
.field--name-field-cta-image > img {
    width: 100%;
}
.field--name-field-cta-button {
    width: 100%;
    text-align: right;
}
.footer {
    background-color: #363636;
    color: #fff;
    font-family: "Avenir LT W01_45 Book1475508", sans-serif;
}
.footer a {
    color: #fff;
}
@media screen and (min-width: 768px) {
    .footer-block {
        float: left;
        width: 30%;
        margin-right: 2%;
    }
}
.form-wrapper {
    margin: 10px 0;
}
label {
    display: block;
    font-family: "Avenir LT W01_85 Heavy1475544", sans-serif;
}
input + label {
    display: inline;
}
legend {
    font-family: "Avenir LT W01_85 Heavy1475544", sans-serif;
}
.form-actions > .button {
    margin-bottom: 10px;
}
.form-item {
    line-height: 133%;
    margin-bottom: 20px;
}
.form-item > input,
.form-item textarea {
    padding: 8px 10px;
    border: none;
    background-color: rgba(0, 0, 0, 0.03);
    line-height: 24px;
}
.form-item > input::-webkit-input-placeholder,
.form-item textarea::-webkit-input-placeholder {
    color: #a6a6a6;
}
.form-item > input::-moz-placeholder,
.form-item textarea::-moz-placeholder {
    color: #a6a6a6;
}
.form-item > input:-ms-input-placeholder,
.form-item textarea:-ms-input-placeholder {
    color: #a6a6a6;
}
.form-item > input:-moz-placeholder,
.form-item textarea:-moz-placeholder {
    color: #a6a6a6;
}
.form-item > input:focus,
.form-item textarea:focus {
    background-color: rgba(0, 0, 0, 0.07);
}
.form-item > input:-webkit-autofill,
.form-item textarea:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px #f4f4f4 inset;
    box-shadow: 0 0 0 1000px #f4f4f4 inset;
}
.form-item input:focus,
.form-item select:focus,
.form-item textarea:focus,
.form-item button:focus {
    outline: none;
}
.form-item > .description {
    font-family: "Avenir LT W01_35 Light_1475502", sans-serif;
    color: #666;
    margin-top: 5px;
}
.form-item > input,
.form-item label,
.form-item textarea {
    max-width: 100%;
}
.form-item > label {
    margin-bottom: 4px;
}
.form-item > legend {
    margin-bottom: 10px;
    font-weight: bold;
}
.captcha {
    line-height: 133%;
}
.captcha .form-item {
    margin: 10px 0;
}
.webform-submission-form {
    line-height: 133%;
}
.webform-submission-form p {
    margin-top: 0;
}
.introduction {
    font-family: "Avenir LT W01_65 Medium1475532", sans-serif;
}
.introduction p {
    font-size: 24px;
    line-height: 133%;
}
.introduction > p:first-child {
    margin-top: 0;
}
.join-drupal {
    color: #fff;
    font-size: 14px;
    margin-left: 15px;
    margin-bottom: 15px;
}
@media screen and (min-width: 960px) {
    .join-drupal {
        margin: 0;
        padding-top: 0px;
        float: right;
    }
}
.btn--join {
    margin-left: 5px;
    background-color: #0154a1;
    color: #fff;
    padding: 16px;
    -webkit-transition: background-color 0.25s ease-in;
    transition: background-color 0.25s ease-in;
    font-weight: 900;
    text-transform: uppercase;
    text-decoration: none;
}
.btn--join:hover,
.btn--join:focus {
    background-color: #016ed4;
}
.link-wrapper > a {
    color: #0154a1;
    text-decoration: underline;
}
nav.tabs {
    margin: 20px 0 60px 0;
}
nav.tabs ul {
    padding: 0;
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0;
}
nav.tabs ul li {
    margin-right: 15px;
}
nav.tabs ul li a {
    border: 1px solid #363636;
    padding: 5px 10px;
    border-radius: 5px;
    background: #f9f9f9;
    display: inline-block;
    color: #363636;
    text-decoration: none;
}
nav.tabs ul li a:hover,
nav.tabs ul li a:focus {
    background: #0154a1;
}
.footer-menu__title {
    text-transform: uppercase;
    margin: 0;
    padding: 0;
}
.m-footer .menu__link {
    color: #fff;
    text-decoration: underline;
}
@media screen and (min-width: 960px) {
    main {
        margin-top: 56px;
    }
}
@media screen and (min-width: 960px) {
    .l-header {
        position: fixed;
        height: 56px;
        width: 100%;
        top: 0;
        z-index: 1;
    }
    body.toolbar-fixed .l-header {
        top: 39px;
    }
    body.toolbar-tray-open.toolbar-horizontal.toolbar-fixed .l-header {
        top: 80px;
    }
}
.m-main .menu__item {
    width: 100%;
}
@media screen and (min-width: 960px) {
    .m-main .menu__item {
        border-right: 3px solid #464646;
        float: left;
        width: auto;
    }
    .m-main .menu__item:first-of-type {
        border-left: 3px solid #464646;
    }
}
.m-main .menu__link {
    width: 100%;
    display: inline-block;
    padding: 16px 15px 16px;
    color: #898989;
    -webkit-transition: background-color 0.25s, color 0.15s;
    transition: background-color 0.25s, color 0.15s;
    font-weight: 800;
    font-size: 14px;
    text-transform: uppercase;
    text-decoration: none;
}
.m-main .menu__link:hover,
.m-main .menu__link:focus {
    background-color: #016ed4;
    color: #fff;
}
.m-social .menu__item {
    display: inline-block;
}
.social-link {
    display: block;
    border: 0;
    font: 0/0 a;
    text-shadow: none;
    color: transparent;
    width: 60px;
    height: 60px;
    background-size: 60px;
}
.social-link--twitter {
    background-image: url(/assets/social-twitter.png);
}
.social-link--youtube {
    background-image: url(/themes/drupal_nl/img/social/social-youtube.png);
}
.social-link--meetup {
    background-image: url(/themes/drupal_nl/img/social/social-meetup.png);
}
.menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.messages {
    margin: 30px 0;
    padding: 15px 20px;
    border-left: 8px solid #0154a1;
    background-color: #f9f9f9;
}
.messages--error {
    border-left-color: #c00;
}
.paragraph--type--intro {
    text-align: center;
    background-color: #f9f9f9;
    padding: 40px 0;
    margin-bottom: 40px;
}
.paragraph--type--partners {
    padding: 0 0 80px;
}
.paragraph--type--intro:after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 0;
    height: 0;
    border-top: solid 30px #f9f9f9;
    border-left: solid 30px transparent;
    border-right: solid 30px transparent;
    margin-top: 40px;
}
.partner-item {
    background: #fff;
    -ms-flex-item-align: center;
    align-self: center;
    text-align: center;
    margin-bottom: 20px;
}
@media screen and (min-width: 960px) {
    .partner-item {
        width: 32%;
    }
}
.individual-partners {
    margin-bottom: 50px;
}
.individual-partners > ul {
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 0;
    margin: -0.5rem;
}
.individual-partners > ul > li {
    margin: 0.5rem;
    width: 100%;
}
@media screen and (min-width: 960px) {
    .individual-partners > ul > li {
        width: calc(33.333% - 1rem);
    }
}
.individual-partners > ul > li a {
    color: #363636;
    text-decoration: none;
    font-size: 18px;
    line-height: 1em;
}
.l-content--partner {
    background: #f9f9f9;
}
.l-content--partner .field--name-field-image,
.l-content--partner .field--name-field-level,
.l-content--partner .quality-badge {
    display: inline-block;
    margin: 0 0 20px;
    vertical-align: top;
}
.l-content--partner .quality-badge {
    width: 406px;
    height: 230px;
    background-color: #fff;
    background-repeat: no-repeat;
    text-indent: -9999px;
    white-space: nowrap;
    background-size: 406px 230px;
}
.l-content--partner .quality-badge--level-1 {
    background-image: url(/themes/drupal_nl/img/quality/Q1.png);
}
.l-content--partner .quality-badge--level-2 {
    background-image: url(/themes/drupal_nl/img/quality/Q2.png);
}
.l-content--partner .quality-badge--level-3 {
    background-image: url(/themes/drupal_nl/img/quality/Q3.png);
}
.l-content--partner .quality-badge--level-4 {
    background-image: url(/themes/drupal_nl/img/quality/Q4.png);
}
.l-content--partner .quality-badge--level-5 {
    background-image: url(/themes/drupal_nl/img/quality/Q5.png);
}
.l-content--partner .quality-badge--level-6 {
    background-image: url(/themes/drupal_nl/img/quality/Q6.png);
}
.l-content--partner .quality-badge--level-7 {
    background-image: url(/themes/drupal_nl/img/quality/Q7.png);
}
.l-content--partner .quality-badge--level-8 {
    background-image: url(/themes/drupal_nl/img/quality/Q8.png);
}
.l-content--partner .quality-badge--level-9 {
    background-image: url(/themes/drupal_nl/img/quality/Q9.png);
}
.l-content--partner .quality-badge--level-10 {
    background-image: url(/themes/drupal_nl/img/quality/Q10.png);
}
.l-content--partner .quality-badge--level-11 {
    background-image: url(/themes/drupal_nl/img/quality/Q11.png);
}
.l-content--partner .quality-badge--level-12 {
    background-image: url(/themes/drupal_nl/img/quality/Q12.png);
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    .l-content--partner .quality-badge--level-1 {
        background-image: url(/themes/drupal_nl/img/quality/Q1%402x.png);
    }
    .l-content--partner .quality-badge--level-2 {
        background-image: url(/themes/drupal_nl/img/quality/Q2%402x.png);
    }
    .l-content--partner .quality-badge--level-3 {
        background-image: url(/themes/drupal_nl/img/quality/Q3%402x.png);
    }
    .l-content--partner .quality-badge--level-4 {
        background-image: url(/themes/drupal_nl/img/quality/Q4%402x.png);
    }
    .l-content--partner .quality-badge--level-5 {
        background-image: url(/themes/drupal_nl/img/quality/Q5%402x.png);
    }
    .l-content--partner .quality-badge--level-6 {
        background-image: url(/themes/drupal_nl/img/quality/Q6%402x.png);
    }
    .l-content--partner .quality-badge--level-7 {
        background-image: url(/themes/drupal_nl/img/quality/Q7%402x.png);
    }
    .l-content--partner .quality-badge--level-8 {
        background-image: url(/themes/drupal_nl/img/quality/Q8%402x.png);
    }
    .l-content--partner .quality-badge--level-9 {
        background-image: url(/themes/drupal_nl/img/quality/Q9%402x.png);
    }
    .l-content--partner .quality-badge--level-10 {
        background-image: url(/themes/drupal_nl/img/quality/Q10%402x.png);
    }
    .l-content--partner .quality-badge--level-11 {
        background-image: url(/themes/drupal_nl/img/quality/Q11%402x.png);
    }
    .l-content--partner .quality-badge--level-12 {
        background-image: url(/themes/drupal_nl/img/quality/Q12%402x.png);
    }
}
.l-content--partner .partner__uri {
    margin-top: 2em;
}
.partner__description {
    margin-bottom: 20px;
}
.partner__services {
    margin-bottom: 20px;
}
.partners-extended {
    margin: 0;
    padding: 0;
    list-style: none;
    margin: -0.5rem;
}
.partner--extended {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
.partner--extended .col {
    margin: 0.5rem;
    width: 100%;
    background-color: #fff;
}
@media screen and (min-width: 960px) {
    .partner--extended .col {
        width: calc(33.333% - 1rem);
    }
}
.partner--extended .col-second {
    background-color: #fff;
    padding: 20px;
}
.primary-nav {
    background-color: #363636;
}
.section-title {
    display: inline-block;
    font-size: 2.5rem;
    line-height: 120%;
    font-weight: 400;
    margin-bottom: 30px;
    margin-top: 60px;
}
.section-title + .link-wrapper {
    margin-bottom: 30px;
    margin-top: -20px;
}
@media screen and (min-width: 960px) {
    .section-title + .link-wrapper {
        float: right;
        margin-top: 80px;
        margin-bottom: 0;
    }
}
.site-logo {
    display: block;
    padding: 10px 30px 10px 15px;
    height: 55px;
}
@media screen and (min-width: 960px) {
    .site-logo {
        float: left;
    }
}
.site-logo > img {
    max-width: 21px;
    margin-top: 8px;
    display: inline-block;
}
@font-face {
    font-family: "Avenir LT W01_35 Light_1475502";
    src: url("/assets/fonts/63a166cb-be60-435c-a056-75172e43efa5.eot?#iefix");
    src: url("/assets/fonts/63a166cb-be60-435c-a056-75172e43efa5.eot?#iefix") format("eot"), url("/assets/fonts/a59168c1-917d-4de9-a244-0316c057c357.woff2") format("woff2"),
        url("/assets/fonts/6dc0e7d8-9284-44e1-8f05-984a41daa3a4.woff") format("woff"), url("/assets/fonts/2315df7a-8bc2-433d-bf0a-162fc0063de0.ttf") format("truetype");
}
@font-face {
    font-family: "Avenir LT W01_45 Book1475508";
    src: url("/assets/fonts/710789a0-1557-48a1-8cec-03d52d663d74.eot?#iefix");
    src: url("/assets/fonts/710789a0-1557-48a1-8cec-03d52d663d74.eot?#iefix") format("eot"), url("/assets/fonts/065a6b14-b2cc-446e-9428-271c570df0d9.woff2") format("woff2"),
        url("/assets/fonts/65d75eb0-2601-4da5-a9a4-9ee67a470a59.woff") format("woff"), url("/assets/fonts/c70e90bc-3c94-41dc-bf14-caa727c76301.ttf") format("truetype");
}
@font-face {
    font-family: "Avenir LT W01_55 Roman1475520";
    src: url("/assets/fonts/57bf7902-79ee-4b31-a327-1bbf59a3d155.eot?#iefix");
    src: url("/assets/fonts/57bf7902-79ee-4b31-a327-1bbf59a3d155.eot?#iefix") format("eot"), url("/assets/fonts/b290e775-e0f9-4980-914b-a4c32a5e3e36.woff2") format("woff2"),
        url("/assets/fonts/4b978f72-bb48-46c3-909a-2a8cd2f8819c.woff") format("woff"), url("/assets/fonts/9bdf0737-f98c-477a-9365-ffc41b9d1285.ttf") format("truetype");
}
@font-face {
    font-family: "Avenir LT W01_65 Medium1475532";
    src: url("/assets/fonts/e0542193-b2e6-4273-bc45-39d4dfd3c15b.eot?#iefix");
    src: url("/assets/fonts/e0542193-b2e6-4273-bc45-39d4dfd3c15b.eot?#iefix") format("eot"), url("/assets/fonts/17b90ef5-b63f-457b-a981-503bb7afe3c0.woff2") format("woff2"),
        url("/assets/fonts/c9aeeabd-dd65-491d-b4be-3e0db9ae47a0.woff") format("woff"), url("/assets/fonts/25f994de-d13f-4a5d-a82b-bf925a1e054d.ttf") format("truetype");
}
@font-face {
    font-family: "Avenir LT W01_85 Heavy1475544";
    src: url("/assets/fonts/6af9989e-235b-4c75-8c08-a83bdaef3f66.eot?#iefix");
    src: url("/assets/fonts/6af9989e-235b-4c75-8c08-a83bdaef3f66.eot?#iefix") format("eot"), url("/assets/fonts/d513e15e-8f35-4129-ad05-481815e52625.woff2") format("woff2"),
        url("/assets/fonts/61bd362e-7162-46bd-b67e-28f366c4afbe.woff") format("woff"), url("/assets/fonts/ccd17c6b-e7ed-4b73-b0d2-76712a4ef46b.ttf") format("truetype");
}
.nav-collapse ul {
    margin: 0;
    padding: 0;
    width: 100%;
    display: block;
    list-style: none;
}
.nav-collapse li {
    width: 100%;
    display: block;
}
.js .nav-collapse {
    clip: rect(0 0 0 0);
    max-height: 0;
    position: absolute;
    display: block;
    overflow: hidden;
    zoom: 1;
}
.nav-collapse.opened {
    max-height: 9999px;
}
.nav-toggle {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    width: 70px;
    height: 55px;
    float: right;
    text-indent: -9999px;
    overflow: hidden;
    display: block;
    background: #0154a1 url(/assets/hamburger.gif) no-repeat 50% 50%;
    position: fixed;
    z-index: 10;
    right: 0;
}
.js body > header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99;
}
@media screen and (min-width: 960px) {
    .js .nav-collapse {
        position: relative;
    }
    .js .nav-collapse.closed {
        max-height: none;
    }
    .nav-toggle {
        display: none;
    }
}
